.about {
    align-items: center;
    display: flex;
    justify-content: center;

    .white-box {
        background: white;
        display: flex;
        flex-direction: column;
        max-width: 1110px;
        margin: 180px auto;

        .wb-content {
            margin: 0 auto;
            max-width: 730px;
            padding: 40px 170px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            color: $dark4;
            font-family: $robotoslab;
            @include font-size(40px);
            font-weight: 100;
            padding: 0 50px;
            text-transform: uppercase;
            text-align: center;
            margin: 55px auto;
        }

        p {
            font-family: $roboto;
            @include font-size(20px);
            font-weight: 300;
            line-height: 1.4;
            margin: 15px 0;
        }

        .button {
            @include button;
        }
    }
    @include breakpoint($aboutcollapse) {
        .white-box {
            margin: 20px;
            padding: 0;
            max-width: 100%;
            width: 100%;

            .wb-content {
                padding: 20px;
                margin: 0 auto;

                h1 {
                    margin: 25px 20px;
                }
            }
        }
    }
    @include breakpoint($small) {
        .white-box {
            padding: 20px;
            margin: 0;
            max-width: 100%;

            .wb-content {
                padding: 10px;
                margin: 0;
                max-width: 100%;

                h1 {
                    padding: 0;
                    margin: 0;
                    font-size: 22px;
                    max-width: 100%;
                    margin: 0 auto;
                    text-align: center;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    };
}
