.articles {
.pans {
  max-width: 1110px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  .panel {
    max-width: 350px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3, p, a {
      padding: 0 50px;
    }
    h3 {
      @include font-size(18px);
      margin: 35px 0;
      font-weight: 700;
    }
    p {
      font-weight: 300;
      margin: 0;
    }
    a {
      @include button;
      font-size: 0.8rem;
      padding: 12px 33px;
      margin: 30px auto;
    }
  }
}
}
