.articles {
    .pans {
        max-width: 1110px;
        margin: 100px auto;
        display: flex;
        justify-content: space-between;
        text-align: center;

        .panel {
            max-width: 350px;
            width: 100%;
            background: #fff;

            a,
            h3,
            p {
                padding: 0 50px;
            }

            h3 {
                @include font-size(18px);
                margin: 35px 0;
                font-weight: 700;
            }

            p {
                font-weight: 300;
                margin: 0;
                float: left;
            }

            a {
                float: left;
                color: #4eaeff;
                font-size: 0.8rem;
                padding: 12px 0px;
                margin: 30px auto;
                width: 100%;
                text-align: center;
                @include regease;
                @include font-size(16px);
                &:hover {
                  color: $black;
                }
            }
        }
    }
    @include breakpoint($articlescollapse1) {
        .pans {
            justify-content: space-around;

            .panel {
                width: 30%;
            }
        }
    };
    @include breakpoint($articlescollapse2) {
        .pans {
            justify-content: space-around;
            flex-direction: column;
            margin: 20px auto;

            .panel {
                width: 100%;
                max-width: 90%;
                margin: 20px auto;

                h3,
                p {
                    padding: 0 20px;
                }
            }
        }
    };
}
