footer {
    color: $dark5;
    height: 125px;
    float: left;
    background: #fff;
    height: 125px;
    width: 100%;
    float: left;

    .focont {
        max-width: 1110px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .socials {
            @include font-size(24px);

        }

        .copyrights {
            @include font-size(20px);
            font-weight: 300;
        }
    }
    .fa {
        padding-right: 23px;
        @include regease;

        &:hover {
            cursor: pointer;
            color: $hover;
        }
    }
    @include breakpoint($footer) {
        .socials {
            margin-left: 20px;
        }

        .copytights {
            margin-right: 20px;
        }
    }
    @include breakpoint($footer2) {
        .socials {
            .fa {
                padding-right: 5px;
                @include font-size(20px);

            }
        }
    }
}
