.portfolio {
    width: 100%;

    ul {
        width: 100%;
        margin: 0;
        padding: 0;

        li {
            width: 33.3%;
            height: 420px;
            float: left;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: white;
                z-index: 2;
                text-align: center;
                @include font-size(24px);
                font-family: $roboto;
                font-weight: 100;
                text-decoration: none;
                text-transform: uppercase;
                opacity: 0;
                position: absolute;
                @include regease;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            div {
                width: 100%;
                height: 100%;
                position: relative;
            }

            div:before {
                width: 100%;
                height: 100%;
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                @include regease;
            }

            div::after {
                width: 100%;
                height: 100%;
                content: "";
                display: block;
                opacity: 0;
                background: $black;
                z-index: 0;
                position: absolute;
                top: 0;
                left: 0;
                @include regease;
            }

            &:after {
                content: "";
                max-width: 100%;
                border: 1px solid white;
                z-index: 1;
                max-height: 100%;
                opacity: 0.0;
                position: absolute;
                top: 0;
                left: 0;
                margin: 10;
                bottom: 0;
                right: 0;
                @include regease;
            }
            @include breakpoint($portfoliocollapse1) {
                width: 50%;
            };
            @include breakpoint($portfoliocollapse2) {
                height: 320px;
            };
            @include breakpoint($portfoliocollapse3) {
                height: 220px;
            };
            @include breakpoint($portfoliocollapse4) {
                height: 420px;
                width: 100%;
            };
            @include breakpoint($portfoliocollapse4) {
                height: 220px;
                width: 100%;

                a {
                    @include font-size(20px);
                }
            };
        }

        .item1 div:before {
            background: url('../images/1.jpg');
        }

        .item2 div:before {
            background: url('../images/2.jpg');
        }

        .item3 div:before {
            background: url('../images/3.jpg');
        }

        .item4 div:before {
            background: url('../images/4.jpg');
        }

        .item5 div:before {
            background: url('../images/5.jpg');
        }

        .item6 div:before {
            background: url('../images/6.jpg');
        }

        .portfoli div:before {
            background-size: cover;
            background-repeat: no-repeat;
            -moz-transform: scale(1,1);
            -webkit-transform: scale(1,1);
            transform: scale(1,1);
        }

        .portfoli:hover:after {
            opacity: 0.2;
        }

        .portfoli:hover div:before {
            -moz-transform: scale(1.2,1.2);
            -webkit-transform: scale(1.2,1.2);
            transform: scale(1.2,1.2);
        }

        .portfoli:hover div:after {
            @include regease;
            opacity: 0.7;
        }

        .portfoli:hover a {
            opacity: 1;
        }
    }
}
