// Colors:
$black: #000000;
$white: #ffffff;
$dark2: #222222;
$dark3: #333333;
$dark4: #444444;
$dark5: #353535;
$hover: #4eaeff;
$deepblue: #290a59;
$graybck: #efeee9;


// Breakpoints

// Page
$page: 0 1150px;

$small: 0 460px;

// Sections
$aboutcollapse: 0 1140px;

$portfoliocollapse1: 0 1110px;
$portfoliocollapse2: 0 770px;
$portfoliocollapse3: 0 620px;
$portfoliocollapse4: 0 530px;
$portfoliocollapse5: 0 460px;

$quotecollapse1: 0 580px;
$quotecollapse2: 0 460px;
$quotecollapse3: 0 360px;

$productcollapse1: 0 960px;
$productcollapse2: 0 690px;

$articlescollapse1:  0 1130px;
$articlescollapse2:  0 780px;

$contactcollapse1: 0 380px;

$footer: 0 1170px;
$footer2: 0 400px;
// Navigation
$nav-collapse: 0 770px;
